main {
	margin-top: calc(var(--space-unit) * 2 + 1.1rem + 5%)
}

/* START - CARDS */


.card-content.bg-color {
	background-color: #3498db;
	color: white;
}

.card-content {
	background-color: #fff;
	color: #333;
}

.card .card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: calc(var(--space-unit) * 2);
	text-align: center;
	transform: scale(1);
}

/* ENDING - CARDS */


/* START - SETTINGS BUTTON*/

.btn-settings {
	font-size: 1.5rem;
	padding: calc(var(--space-unit) * 4);
	z-index: 110;
	border-radius: 50%;
}

.btn-settings i {
	background-color: transparent;
	color: black;
}

.btn-settings.show i {
	color: rgb(205, 164, 244);
}

.fixed-tr{
	position: fixed;
	top: 0;
	right: 0;
}

/* END - SETTINGS BUTTON*/

.panel {
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	right: 0;
	z-index: 100;
	background-color: #333;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease;
}

.panel.show {
	transform: scaleX(1);
}
