main {
	margin-top: calc(var(--space-unit) * 2 + 1.1rem + 5%)
}

/* START - CARDS */
.cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: calc(var(--space-unit) * 2);
}

.card {
	position: relative;
	min-width: 80%;
	min-height: 60px;
	display: flex;
	overflow: hidden;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.card-content.bg-image {
	background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGNhcmR8ZW58MHx8fHwxNjg5NTY1NzA3&ixlib=rb-4.0.3&q=80&w=1080");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.card-content.bg-color {
	background-color: #3498db;
	color: white;
}

.card-content {
	background-color: #fff;
	color: #333;
}

.card .card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: calc(var(--space-unit) * 2);
	text-align: center;
	transform: scale(1);
}

.card .card-update {
	width: 30%;
	display: flex;
	justify-content: space-around;
	border-radius: 8px;
}

.card .card-update button {
	display: block;
	flex-grow: 1;
	color: white;
	padding: calc(var(--space-unit) * 2);
}

.card-edit {
	background-color: rgba(0, 0, 0, 0.2);
}

.card-delete {
	background-color: rgba(255, 0, 0, 0.4);
}


/* END - CARDS */

/* START - NAV BAR */

.nav {
	width: 100%;
	height: 60px;
	display: flex;
	position: fixed;
	padding: 5%;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	bottom: 0;
}

.nav span{
	background-color: rgba(0, 0, 0, 0.1);
	width: 1px;
	border-radius: 10px;
	height: 40px;
	filter: blur(0.5px);

}

.nav a, .nav button{
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	width: 100%;
	cursor: pointer;
	height: 40px;
	border-radius: 30px;
	background-color: inherit;
	transition: all 0.3s ease-in-out;
	color: black;
}


.nav a.active, .nav button:hover{
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	background-color: var(--color-secondary);
	color:white;
}

/* END - NAV BAR */

/* START - SETTINGS BUTTON*/

.btn-settings {
	font-size: 1.5rem;
	padding: calc(var(--space-unit) * 4);
	z-index: 110;
	border-radius: 50%;
}

.btn-settings i {
	background-color: transparent;
	color: black;
}

.btn-settings.show i {
	color: rgb(205, 164, 244);
}

.fixed-tr{
	position: fixed;
	top: 0;
	right: 0;
}

/* END - SETTINGS BUTTON*/

.panel {
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	right: 0;
	z-index: 100;
	background-color: #333;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease;
}

.panel.show {
	transform: scaleX(1);
}
