/* Fichier CSS principal */
:root {
	--space-unit: 4px;
	--color-secondary: rgb(205, 164, 244);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	line-height: 1.6;
}

html::-webkit-scrollbar {
	display: none;
}

h1 {
	color: #3498db;
}

p {
	font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background-color: transparent;
	border: none;
}

i {
	background-color: inherit;
	color: inherit;
}

.hidden {
	display: none;
}
